<h2 nz-typography class="margin-bottom-fix">Tasks</h2>
<div class="tasks-list">

  <div class="task-row" *ngFor="let task of loadedTasks">
    <div class="task-contents">
      <label nz-checkbox [(ngModel)]="task.status" class="checkbox-label active-task-text"> {{ task.task }}</label>
      <!-- <div class="task-time">
        <div class="session-count-text"> 1 session</div>
        <div class="active-task-text">00:00:00</div>
      </div> -->
    </div>
    <div class="divider-horizontal-container">
      <div class="divider-horizontal"></div>
    </div>
  </div>

  <button class="new-task-row">
    <div class="new-task-icon">
      <div class="icon-plus"></div>
    </div>
    <div class="new-task-text">New Task</div>
  </button>
  
</div>

<h3 nz-typography>Finished Tasks</h3>