<!-- <div class="clock-container container-inactive">
  <button class="start-button">
    <span class="start-button-text">Select a Task</span>
    <img src="../../../../assets/images/icon-play-circle.svg" alt="" class="icon-button">
  </button>
</div> -->

<div class="clock-container container-active">
  <button class="active-session-left-button">
    <div class="task-name">Select a Task</div>
    <div class="session-note">Add a Session Note</div>
  </button>
  <div class="active-time">00:00:00</div>
  <button class="pause-button">
    <img class="icon-button" src="../../../../assets/images/icon-pause-circle.svg" alt="">
  </button>
</div>