<h2 nz-typography class="margin-bottom-fix">Tasks</h2>
<div class="tasks-list">

  <ng-container *ngFor="let task of tasks">
    <div *ngIf="task.task_status == false" class="task-row">
      <div class="task-contents">
        <label nz-checkbox [(ngModel)]="task.task_status" class="checkbox-label task-text" (ngModelChange)="changeStatus(task)">{{task.task_name}}</label>
        <div class="task-time">
          <div *ngIf="task.total_session_count" class="session-count-text">
            {{task.total_session_count}} session<span *ngIf="task.total_session_count > 1">s</span>
          </div>
          <div *ngIf="task.total_session_time > 0; else sessionEmpty" class="task-text">
            {{task.total_session_time | date:'HH:mm:ss':'UTC'}}
          </div>
          <ng-template #sessionEmpty>
            <div class="task-text">00:00:00</div>
          </ng-template>
        </div>
      </div>
      <div class="divider-horizontal-container">
        <div class="divider-horizontal"></div>
      </div>
    </div>
  </ng-container>
  
  <button class="new-task-row">
    <div class="new-task-icon">
      <div class="icon-plus"></div>
    </div>
    <div class="new-task-text">New Task</div>
  </button>
  
</div>

<h3 nz-typography>Finished Tasks</h3>
<ng-container *ngFor="let task of tasks">
  <div *ngIf="task.task_status == true" class="task-row">
    <div class="task-contents">
      <label nz-checkbox [(ngModel)]="task.task_status" class="checkbox-label task-text inactive-task" (ngModelChange)="changeStatus(task)">{{task.task_name}}</label>
      <div class="task-time">
        <div *ngIf="task.total_session_count" class="session-count-text">
          {{task.total_session_count}} session<span *ngIf="task.total_session_count > 1">s</span>
        </div>
        <div *ngIf="task.total_session_time > 0; else sessionEmpty" class="task-text inactive-task">
          {{task.total_session_time | date:'HH:mm:ss':'UTC'}}
        </div>
        <ng-template #sessionEmpty>
          <div class="task-text inactive-task">00:00:00</div>
        </ng-template>
      </div>
    </div>
    <div class="divider-horizontal-container">
      <div class="divider-horizontal"></div>
    </div>
  </div>
</ng-container>